body {
    background-color: lightgreen;
}
.roman {
    list-style: upper-roman;
}
.none {
    list-style: none;
}
ul {
    list-style: square;
    border: 2px solid blue;
}
ol {
    border: 2px solid blue;
}
.typo {
    background-color: white;
    color: purple;
    list-style-type: none;
}
.out {
    margin: 15px;
}
