body{
    background-color: rgb(255, 220, 155);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

div{
    width: 150px;
    height: 250px;
    float: left;
    background-color: rgb(255, 193, 77);
    margin: 10px;
    padding: 10px;
    text-align: center;
}

a{
    border-radius: 15px;
    color: grey;
    border: 2px solid grey;
    padding: 2px;
    margin:2px;
}

a:hover{
    background-color: black;
    color: orange;
}