body {
    background-color: greenyellow;
}

.a {
    font-family: Arial, Helvetica, sans-serif;
}
.b {
    font-family: 'Courier New', Courier, monospace;
}
.c {
    font-family: 'Times New Roman', Times, serif;
}